<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144228948144-lu6rhc05p83rfo0u3h5gopnnnrisafa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144228948144-lu6rhc05p83rfo0u3h5gopnnnrisafa0</string>
	<key>API_KEY</key>
	<string>AIzaSyC3BntP-jW-XWwvZbIs8K7DbD2wXtnW8lI</string>
	<key>GCM_SENDER_ID</key>
	<string>144228948144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.egarage</string>
	<key>PROJECT_ID</key>
	<string>egarage-eb18f</string>
	<key>STORAGE_BUCKET</key>
	<string>egarage-eb18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144228948144:ios:366bb2a896acf723cdc375</string>
</dict>
</plist>